.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
    .halalCard {
        width: 100%;
        max-width: 450px;
        background: #727AF0;
        display: flex;
        padding: 1.5rem;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        margin-bottom: 30px;
        box-shadow: 0.4px 2px 0.8px 0.4px aqua;
    }

     
  
  .halalCardImage {
    position: relative;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  
  .halalCardContent {
    padding: 20px;
    text-align: center;
  }
  
  .halalCardTitle {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
  }
  
  .halalCardDescription {
    font-size: 16px;
    color: white;
  }

  @media (max-width: 768px) {
    .halalCard {  
      // display: none;
      max-width: 700px !important;
    }
  }