@import "../../styles/variables";
@import "../../styles/mixins";

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
  padding: 55px 50px 5px 70px;
  font-size: 25px;
  background: #000000eb;
  @media (max-width:768px){
    flex-direction: column;
    padding: 20px ;
    gap: 10px;
  }

  &__logoCont {
    width: 100%;
    max-width: 180px;
    height: 160px;
    display: flex;
    padding: 5px;
    @media (max-width:768px){
      margin: auto;
    }
  }


  &__menuIcon {
    display: none;
    @media (max-width: 768px) {
      // display: flex;
    }
  }

  &__menu {
    display: flex;
    list-style: none;
    margin-top: 45px;
    text-decoration: none;
    gap: 40px;
    @include font(23px, $white, bold);
    cursor: pointer;
    @media (max-width: 768px) {
      flex-direction: column;
      @include font(18px , $white , bold);
      gap: 23px;
      text-align: center;
    }
      &__menuItem{
        display: none;
      }
  }

  &__mobileMenu {
    display: none;
    @media (max-width: 768px) {
      // display: block;
    }
  }

  &__mobileMenuItem {
    @include font(23px, $white, bold);
    cursor: pointer;
    margin-bottom: 15px;
    & Link{
      &:hover {
        color: aqua;
      }
    }
  }

  &__langCont {
    // width: 100%;
    @media (max-width:768px){
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }
    &__language {
      width: 100% !important;
      max-width: 340px !important;
      border-color: white !important;
      margin-top: 31px;
      display: flex;
      justify-content: center;
      outline-color: white !important;
      @include font(22px, $white, bold);
      text-align: center !important
    }

    &__select {
      @include font(22px, $white, bold);
      border: none !important;
      outline: none !important;
      border-color: white !important;
    }
  }