@import "../../styles/variables";
@import "../../styles/mixins";

.title{ 
    @include font(50px , black , medium);
    text-align:center;
    // padding-bottom: 50px;
    padding-top: 20px;
    padding-top: 10px;
}

.contact {
    display: flex;
    // flex-direction: column;
    // align-items: left;
    // justify-content: ;
    justify-content: space-between;
    padding: 30px 20px;
    width: 100%;
    // height: 100vh;
    position: relative;
    background-image: url('/img/contactbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    // margin-bottom: 100px;
  } 

  .botirvs{
    height: 400px !important; 
    border-radius: 10px ;
    margin-top: -30px;
    // border: 1px solid black;  
  }

    .botirImage{
      border-radius: 25px !important;
      width: 100% !important; 
      // position: relative !important;
      // margin-top: -40px !important;
      position: relative;
      border-radius: 20% !important;
      // top: 20px !important;
    }
  
  
  .imageContainer {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1;
    width: 100%;
    align-content: center;
    align-items: center;
  }
  
  .owner {
    margin-bottom: 2rem;
    width: 100%;
  }
  .owner .person{
    border-radius: 15px !important;
  }
  
  .owner h1 {
    @include font(2.5rem, black, medium);
    margin-bottom: 1rem;
  }
  
  .cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 4rem;
    width: 100%;
    left: 20px;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: white;
    padding: 2rem;  
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: 150px;
    align-content: center;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  .links{
    display: flex;
    gap: 100px;
    justify-content: center;
    width: 100%;
  }
    .icon{
      display: flex;
      flex-direction: column;
    }
    .text{
      color: blue !important;
    }
  
  .card h2 {
    @include font(1.5rem, black, bold);
    margin-bottom: 1rem;
  }
  
  .card p {
    font-size: 1rem;
    color: gray;
    text-align: left;
  }

